body {
    background-image: url('imgs/cadre-fond-fluide-bleu_53876-99019.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.add-task-section {
    background-color: rgba(255, 255, 255, 0.804);
  
}
@media (max-width: 768px) {
    .add-task-section {
        background-color: rgba(255, 255, 255, 0.854);
    }
    .editTask, .deleteTask{
        display: block;
    }
    .editTask{
        margin-left: 10%;
        padding-right: 40%;
    }
    #timerDisplay{
        font-size:60px;
    }
}